
.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #030303;
}

.notfound-content h1 {
  font-size: 10rem;
  margin: 0;
}

.notfound-content h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.notfound-content p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.home-button {
  display: inline-block;
  padding: 10px 20px;
  border: solid #000000 2px;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.home-button:hover {
  background-color: #ff7e5f;
  color: #fff;
}
